.calculator {
  height: 100%;
  width: 60%;
  box-sizing: border-box;
}

.formWrapper {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 4%;
  border: 2px solid white;
  width: 45%;
  font-weight: bold;
}

.heightWrapper,
.weightWrapper {
  display: flex;
  align-items: center;
}

.formLabel {
  margin-right: 12px;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  margin-left: 15%;
}

.btnWrapper button {
  outline: none;
  height: 40px;
  cursor: pointer;
  margin: 0 12px;
  padding: 0 16px;
  font-weight: bold;
  color: #fff;
  background-color: transparent;
}

.clearBtn {
  border: none;
}

.submitBtn {
  border: 2px solid white;
}

.header {
  font-size: 2.5em;
  margin-bottom: 24px;
  font-family: "Kanit", sans-serif;
}

.result {
  text-align: center;
  background-color: white;
  color: #5ccfa6;
  font-weight: bold;
}
