.calculator {
  height: 100%;
  width: 60%;
  box-sizing: border-box;
}

.formWrapper {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  height: 90%;
}

form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 4%;
}

.heightWrapper,
.weightWrapper {
  display: flex;
  align-items: center;
}

.formLabel {
  margin-right: 12px;
}

.btnWrapper {
  display: flex;
  align-items: center;
  width: 83%;
  justify-content: space-between;
  margin-top: 12px;
  margin-left: 15%;
}

.btnWrapper button {
  outline: none;
  height: 40px;
  width: 50%;
  cursor: pointer;
  margin: 4px;
  color: white;
}

.clearBtn {
  width: 100px;
  background-color: transparent;
  border: 1px solid white;
}

.submitBtn {
  border: none;
  background-color: rgb(7, 151, 241);
}

.header {
  text-align: center;
}
