.input-container {
  position: relative;
  margin: 16px;
  width: 100%;
}

input {
  height: 48px;
  width: 100%;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 16px;
  outline: none;
  color: white;
  background-color: transparent;
}

.label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  display: flex;
  align-items: center;
  pointer-events: none;
}

input,
label .text {
  font-size: 16px;
}

input:focus + label .text,
  /* for making the label stay at top when there is any text written */
  :not(input[value=""]) + label .text {
  font-size: 12px;
  transform: translate(0, -160%);
  padding-left: 4px;
  padding-right: 4px;
  background: hsl(164, 51%, 59%);
}

input[type="number"] {
  -moz-appearance: "textfield";
}

.label .text {
  transition: all 0.15s ease-out;
}

.result {
  padding: 8px;
  margin-top: 32px;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.1);
}
